<div class="header" id="home">

  <div class="slider-info">
      <div class="logo">
          <a href="#">Super Musique Infinie</a>
      </div>

      <div class="side">
          <nav class="dr-menu">
              <ul>
                  <li><a class="scroll dr-icon dr-icon-user" href="#artistes">Artistes</a></li>
                  <li><a class="scroll dr-icon dr-icon-camera" href="#bio">Bio</a></li>
              </ul>
          </nav>
      </div>
  </div>

  <div class="slider">
      <div class="slider-1">
          <ul class="rslides" id="slider1">
              <li>
                  <img src="../assets/images/slide1.jpg" alt="Super Musique Infinie">
              </li>
          </ul>
      </div>
  </div>
  <div class="clearfix"></div>

</div>

<!-- ================================================================================================= -->
<!-- ================================================================================================= -->
<!--                       Remplacer à partir d'ici par un <router-outlet>                             -->
<!-- ================================================================================================= -->
<!-- ================================================================================================= -->

<div class="about" id="artistes">
  <div class="container">

      <h1>Artistes</h1>
      <div class="heading-underline">
          <div class="h-u1"></div><div class="h-u2"></div><div class="h-u3"></div><div class="clearfix"></div>
      </div>

      <div class="service-grids">
          <div class="col-md-4 col-sm-4 service-grid service-grid-1"
               *ngFor="let artist of artists">
              <a href="#bio" (click)="onSelect(artist)">
                  <div style="width: 100%; height: 100%; background-size: cover;" [ngStyle]="{'background-image': 'url(' + artist.image + ')'}">
                      <div class="suggestion-overlay">
                          <h4>{{artist.name}}</h4>
                      </div>
                  </div>
              </a>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</div>

<artist-bio [artist]="selectedArtist"></artist-bio>
