<div class="header" id="home">

  <div class="slider-info">
      <div class="logo">
          <a href="#">Super Musique Infinie</a>
      </div>

      <div class="side">
          <nav class="dr-menu">
              <ul>
                  <li><a class="scroll dr-icon dr-icon-user" href="#artistes">Artistes</a></li>
                  <li><a class="scroll dr-icon dr-icon-camera" href="#bio">Bio</a></li>
              </ul>
          </nav>
      </div>
  </div>

  <div class="slider">
      <div class="slider-1">
          <ul class="rslides" id="slider1">
              <li>
                  <img src="../assets/images/slide1.jpg" alt="Super Musique Infinie">
              </li>
          </ul>
      </div>
  </div>
  <div class="clearfix"></div>

</div>

<!-- ================================================================================================= -->
<!-- ================================================================================================= -->
<!--                       Remplacer à partir d'ici par un <router-outlet>                             -->
<!-- ================================================================================================= -->
<!-- ================================================================================================= -->

<router-outlet></router-outlet>>
